/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.spark, .spark .spark-header-columns, .spark .grid-canvas, .spark .spark-viewport {
    box-sizing: content-box;
}
.spark * {
    box-sizing: border-box;
}

.spark-row {
    position: absolute;
    width: 100%;
    border: 0;
}

.spark-header, .spark-headerrow {
  width: 100%;
  overflow: hidden;
}

.spark-header-columns, .spark-headerrow-columns {
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}

.spark-header-column {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: 0;
  padding: 4px;
  float: left;
}

.spark-headerrow-column {
  padding: 4px;
}
.spark-sort-indicator {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 4px;
  margin-top: 6px;
  float: left;
}

.spark-sort-indicator-desc {
  background: url(../images/sort-desc.gif);
}

.spark-sort-indicator-asc {
  background: url(../images/sort-asc.gif);
}

.spark-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 4px;
  right: 0px;
  top: 0;
  height: 100%;
}

.grid-canvas {
  position: relative;
  outline: 0;
}

.spark-row.ui-widget-content, .spark-row.ui-state-active {
  position: absolute;
  border: 0px;
  width: 100%;
}

.spark-cell, .spark-headerrow-column {
  position: absolute;
  border: 1px solid transparent;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  z-index: 1;
  padding: 1px 2px 2px 1px;
  margin: 0;
  white-space: nowrap;
  cursor: default;
}

.spark-group-toggle {
  display: inline-block;
}

.spark-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.spark-cell.spark-editable {
  z-index: 11;
  overflow: visible;
  background: white;
  border-color: black;
  border-style: solid;
}

.spark-cell:focus {
  outline: none;
}

.spark-reorder-proxy {
  display: inline-block;
  opacity: 0.15;
  filter: alpha(opacity = 15);
  cursor: move;
}

.spark-reorder-guide {
  display: inline-block;
  height: 2px;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}

.spark-selection {
  z-index: 10;
  position: absolute;
  border: 2px dashed black;
}
