/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.spark-header-columns {
  background: url('../../images/header-columns-bg.gif') repeat-x center bottom;
  border-bottom: 1px solid silver;
}

.spark-header-column {
  background: url('../../images/header-columns-bg.gif') repeat-x center bottom;
  border-right: 1px solid silver;
}

.spark-header-column:hover, .spark-header-column-active {
  background: white url('../../images/header-columns-over-bg.gif') repeat-x center bottom;
}

.spark-headerrow {
  background: #fafafa;
}

.spark-headerrow-column {
  background: #fafafa;
  border-bottom: 0;
  height: 100%;
}

.spark-row.ui-state-active {
  background: #F5F7D7;
}

.spark-row {
  position: absolute;
  background: white;
  border: 0px;
  line-height: 20px;
}

.spark-row.selected {
  z-index: 10;
  background: #DFE8F6;
}

.spark-cell {
  padding-left: 4px;
  padding-right: 4px;
}

.spark-group {
  border-bottom: 2px solid silver;
}

.spark-group-toggle {
  width: 9px;
  height: 9px;
  margin-right: 5px;
}

.spark-group-toggle.expanded {
  background: url(../../images/collapse.gif) no-repeat center center;
}

.spark-group-toggle.collapsed {
  background: url(../../images/expand.gif) no-repeat center center;
}

.spark-group-totals {
  color: gray;
  background: white;
}

.spark-cell.selected {
  background-color: beige;
}

.spark-cell.active {
  border-color: gray;
  border-style: solid;
}

.spark-sortable-placeholder {
  background: silver !important;
}

.spark-row.odd {
  background: #fafafa;
}

.spark-row.ui-state-active {
  background: #F5F7D7;
}

.spark-row.loading {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.spark-cell.invalid {
  border-color: red;
  -moz-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  -moz-animation-name: sparkgrid-invalid-hilite;
  -webkit-animation-name: sparkgrid-invalid-hilite;  
}

@-moz-keyframes sparkgrid-invalid-hilite {
  from { box-shadow: 0 0 6px red; }
  to { box-shadow: none; }
}

@-webkit-keyframes sparkgrid-invalid-hilite {
  from { box-shadow: 0 0 6px red; }
  to { box-shadow: none; }
}