@import url('../css/themes/material-theme.css');

main {
    padding-left: 240px;
}


.promo i {
    color: #ef5350;
    font-size: 7rem;
    display: block;
}

a.button-collapse.top-nav {
    position: absolute;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}

#index-banner {
    background-color: #548799;
    color: #fff;
}

#download-button {
    width: 285px;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 60px;
}

#examplesBtn {
    background-color: #548799;
}

h1.header {
    font-weight: 300;
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.spark a {
    color: #555;
}



ul {
    margin-left: 0;
    padding: 0;
    cursor: default;
}

li {
    padding: 5px 0 5px 5px;

    list-style: none;
    margin: 0;
}

table {
    width: 100%;
}
